
/* Стиль для заголовков */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}


h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


/* Стиль для контента */
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Стиль для навигационного меню */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Стиль для элементов навигационного меню */

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/*Для красивого сайдбара */ 
article {
  flex: 1;
  margin-right: 20px;
}

aside {
  flex: 0.3;
}

/* Стиль для футера */
footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  color: #777;

  
  
}

header{
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;

}

/* Общие стили */
body {
  margin-right: 50px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.product-card {
  display: flex;
  height: 230px;
  width:400px;
  background-color: rgb(240,240,240);
  border: 2px solid  #0885c6;
  border-radius: 5px; }

.product-image {
    /* float: left; */
    width: 200px;
    height:  200px;
}

.product-details {
  /* float: right; */
  width: 50%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
